.navItems{
    color: white;
    display:flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background: black;
    cursor: pointer;
}
.navItems > h3> a{
    font-size: 30px;
    margin-left: 50px;
    z-index: 999;
    color: white;
    text-decoration: none;
}
.navItems > h3 >a > span{
    color: var(--main-green) !important;
}
.navMenu > ul{
    display: flex;
    list-style: none;
    margin-left: 300px;
    margin-right: -150px;
   align-items: center;
    
}
.navMenu{
    display: flex;
}
.navMenu > ul > li{
    margin: 0 1rem;
  
}
.navMenu > ul a{
    text-decoration: none;
    color: white;
}
.navMenu > ul a:hover{
   color: var(--main-green);
}
.navMenu > ul > li:hover{
    color: var(--main-green);
  
}
.loginButton{
    background: none;
    color: white;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.SignUpButton{
    padding: 7px 12px;
    background: none;
    border: 1px solid var(--main-green);
    color: var(--main-green);
    cursor: pointer;
    
}
.SignUpButton:hover{
    background-color: var(--main-green);
    color: var(--dark-green);
    }
    
    .loginButton:hover{
        padding: 7px 12px;
        background-color: white;
        color: var(--dark-green);
        transition: 100ms ease;
    }
    .loginButton a:hover{
        color: var(--dark-green) !important;
    }
.nav-btn{
padding: 5px;
cursor: pointer;
background: transparent;
border: none;
outline: none;
color: white;
visibility: hidden;
opacity: 0;
font-size: 24px;
}
.nav-btn:hover{
    color: var(--main-green);
}

@media only screen and (max-width: 1024px){
    .navMenu>ul{
        font-size: 14px;   
        padding: 10px; 
        margin: 0 auto;
    }
    .loginButton{
        margin-left: 100px;
    }
   
}


@media only screen and (max-width: 768px){
.nav-btn{
    opacity: 1;
    visibility: visible;
}
.navMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
    background-color: rgb(10, 10, 10);
    transition: 1s;
    transform: translateX(-100vw);
    border-right: 2px solid var(--main-green);
}
.navMenu>ul{
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    margin-left: 20px;
    gap: 1.5rem;

}
.btn{
    margin-left: 20px;
}

.responsive-nav{
    transform: none;
}
.navItems > h3{
    margin-left: 10px;
}
.nav-close{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

}

@media only screen and (max-width: 375px){
    .navItems > h3{
       font-size: 14px;
       
    }
}
