.testimonials{
    margin-top: 120px;
    padding-bottom: 100px;
}

.testimonials > h3{
    text-align: center;
    font-size: 30px;
color: var(--black);
}
.testimonialCards{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 800px;
  margin: 50px auto;
  gap: 30px;
    
}
.testimonialCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(249, 254, 249);
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.5);
}

.testimonialCard > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -50px;
}
.text{
    color: var(--black);
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
.name{
    color: var(--dark-green);
    font-weight: bold;
}

.qRight{
   margin-left: 230px;
   color: var(--dark-green);
}
.qLeft{
    color: var(--dark-green); 
}
.slideLines{
    display: flex;
   margin-left: 45%;
    justify-items: center;
    align-items: center;

}

.slideLine{
    border-bottom: 5px solid  rgb(159, 177, 159);;
    width: 30px;
    margin-right: 10px;
    
}

.color{
    border-bottom: 5px solid  var(--dark-green);
}
.achievements{
    background: #FAFAFA;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.left{
margin-left: 50px;
margin-top: 50px;
}
.left > h3{
    margin-bottom: 20px;
}
.left>p{
    color: var(--black);
}
.Anumbers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.number> h3{
color: var(--dark-green);
font-size: 30px;
margin-bottom: 10px;
}
.number > p{
    font-size: 14px;
}

.left > button{
    background-color: var(--main-green);
    padding: 15px 30px;
    font-size: 12px;
    color: var(--black);
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.left > button:hover{
    color: white;
    background-color: var(--dark-green);
}

.right > img{
    margin-right: 50px;
    border-radius: 50px 0 50px 0;
}

@media only screen and (max-width: 1024px){
    .testimonialCards{
            gap: 20px;
    }
    .achievements{
        gap: 50px;
    }
    .right > img{
        object-fit: cover;
        width: 500px;
        height: 400px;
    }
}

@media only screen and (max-width: 768px){
    .testimonialCards{
      gap: 20px;  
}


.testimonialCard {
    max-width: 200px;
    height: 150px;
    padding: 30px 40px;
    align-items: center;
    margin-top: 10px;
    
}
.text{
   
    font-size: 10px;
    text-align: center;
}
.name{
padding-bottom: 10px;

}

.qRight{
  margin-right: 70px;
}
.qLeft{
    margin-left: 70px;
}
.right > img{
    object-fit: cover;
    width: 400px;
    height: 300px;
}
.testimonialCard > img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;   
}
.slideLines{
 margin-left: 40%;
}

.achievements{
    margin: 0 auto;
    align-items: center;
}

.number> h3{
 font-size: 20px;
 
   }
    .number > p{
        font-size: 12px;
    }
    .Anumbers{
        align-items: center;
        text-align: center;
        gap: 10px;
    }
}
@media only screen and (max-width: 640px){
    .testimonialCards{
        flex-direction: column;
    }
    .testimonialCard{
        margin-bottom: 25px;
      max-width: 400px;
      height: 200px;
    }
    .text{
        font-size: 16px;
    }
    .qRight{
        margin-right: 30px;
        margin-top: 5px;
      }
      .qLeft{
          margin-left: 30px;
      }
      .achievements{
       flex-direction: column;
       margin: 0 auto;
    }
    .left>button{
 margin: 0 auto;
 width: 100%;
    }
    .right > img{
       width: 560px;
        height: 300px;
        border-radius: 20px;
        margin-left: 50px;
    }
}
@media only screen and (max-width: 425px){
    
    .testimonials > h3{
        font-size: 20px;

    }
    .slideLines{
        margin-left: 30%;
        margin-top: -20px;
       }
       .left{
        margin: 0 auto;
        padding: 0 20px;
       }
       .right > img{
       width: 380px;
       height: 200px;
       border-radius: 10px;
     }
}

@media only screen and (max-width: 375px){
    .testimonials > h3{
        font-size: 18px;
    }
   
    .testimonialCards{
        align-items: center;
        margin: 0 auto;
        margin-left: 20px;
    }
    .testimonialCard{
        border-radius: 20px;
      max-width: 300px;
      height: 180px;
      margin-top: 30px;
      box-shadow: 0 1px 4px rgba(0,0,0, 0.2);
    }
    .slideLines{
        margin-left: 35%;
       }
       .achievements{
        width: 100%;
       }
       .left{
        align-items: center;
        margin: 0 auto;
       }

       .right > img{
        width: 320px;
         height: 200px;
         border-radius: 10px;
        margin-left: 60px;
     }
     .left>button{
        border-radius: 7px;
     }
}